In [1]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.DataFrame(
    np.random.randint(-10, 10, size=(5, 5)), 
    columns=list("ABCDE")
)
df

   A  B  C  D  E
0  9  6  5 -3 -2
1 -4  3 -9 -6 -5
2  9  7 -4  1 -6
3  4  8 -1 -4  7
4 -4  4 -3  9  6

In [3]:
df.clip(lower=-4)

   A  B  C  D  E
0  9  6  5 -3 -2
1 -4  3 -4 -4 -4
2  9  7 -4  1 -4
3  4  8 -1 -4  7
4 -4  4 -3  9  6

In [4]:
df.clip(lower=-4, upper=4)

   A  B  C  D  E
0  4  4  4 -3 -2
1 -4  3 -4 -4 -4
2  4  4 -4  1 -4
3  4  4 -1 -4  4
4 -4  4 -3  4  4

In [5]:
df.diff()

      A    B     C     D     E
0   NaN  NaN   NaN   NaN   NaN
1 -13.0 -3.0 -14.0  -3.0  -3.0
2  13.0  4.0   5.0   7.0  -1.0
3  -5.0  1.0   3.0  -5.0  13.0
4  -8.0 -4.0  -2.0  13.0  -1.0

In [6]:
df.diff(periods=2)

      A    B    C    D     E
0   NaN  NaN  NaN  NaN   NaN
1   NaN  NaN  NaN  NaN   NaN
2   0.0  1.0 -9.0  4.0  -4.0
3   8.0  5.0  8.0  2.0  12.0
4 -13.0 -3.0  1.0  8.0  12.0

In [7]:
df.diff(axis=1)

    A  B   C   D   E
0 NaN -3  -1  -8   1
1 NaN  7 -12   3   1
2 NaN -2 -11   5  -7
3 NaN  4  -9  -3  11
4 NaN  8  -7  12  -3

In [8]:
df = pd.DataFrame(

    {
        "age": [45, 53, 60, 42, 34],
        "gender": ["Female", "Male", "Female", "Female", "Male"]
    }
)
df

   age  gender
0   45  Female
1   53    Male
2   60  Female
3   42  Female
4   34    Male

In [9]:
pd.get_dummies(df)

   age  gender_Female  gender_Male
0   45           True        False
1   53          False         True
2   60           True        False
3   42           True        False
4   34          False         True

In [10]:
df_new = pd.get_dummies(df)
df_new

   age  gender_Female  gender_Male
0   45           True        False
1   53          False         True
2   60           True        False
3   42           True        False
4   34          False         True

In [11]:
pd.from_dummies(df_new[["gender_Female", "gender_Male"]])

0  gender_Female
1    gender_Male
2  gender_Female
3  gender_Female
4    gender_Male

In [12]:
df = pd.DataFrame(
   np.random.randint(0, 10, size=(5, 3)), 
   columns=list("ABC")
)
df

   A  B  C
0  8  2  9
1  5  4  1
2  7  1  7
3  9  1  6
4  8  3  3

In [13]:
df.transform([np.sqrt, np.square])

          A                B                C
       sqrt square      sqrt square      sqrt square
0  2.828427     64  1.414214      4  3.000000     81
1  2.236068     25  2.000000     16  1.000000      1
2  2.645751     49  1.000000      1  2.645751     49
3  3.000000     81  1.000000      1  2.449490     36
4  2.828427     64  1.732051      9  1.732051      9