In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame({
   'A': np.random.randint(10, size=5),
   'B': np.random.randint(20, size=5),
   'C': np.random.randint(5, size=5),
   'D': np.random.randint(30, size=5)
})
df

   A   B  C   D
0  8  19  4  22
1  7  18  3  21
2  3   0  0  26
3  9  17  0   0
4  6  14  0  28

In [3]:
df.iloc[:, [2,3,1,0]]

   C   D   B  A
0  4  22  19  8
1  3  21  18  7
2  0  26   0  3
3  0   0  17  9
4  0  28  14  6

In [4]:
df.loc[:, ['B','D','C','A']]

    B   D  C  A
0  19  22  4  8
1  18  21  3  7
2   0  26  0  3
3  17   0  0  9
4  14  28  0  6

In [5]:
df.loc[:3, ['C','A']]

   C  A
0  4  8
1  3  7
2  0  3
3  0  9

In [6]:
df[['A','D','C','B']]

   A   D  C   B
0  8  22  4  19
1  7  21  3  18
2  3  26  0   0
3  9   0  0  17
4  6  28  0  14

In [7]:
cols = list(df.columns)
cols.reverse()
df[cols]

    D  C   B  A
0  22  4  19  8
1  21  3  18  7
2  26  0   0  3
3   0  0  17  9
4  28  0  14  6

In [8]:
cols = list(df.columns)
df[cols[::-1]]

    D  C   B  A
0  22  4  19  8
1  21  3  18  7
2  26  0   0  3
3   0  0  17  9
4  28  0  14  6