## #1 Using Multiple Print Statements

#### Naive Approach

In [1]:
a, b, c = 10, 5, 3

print(a)
print(b)
print(c)

10
5
3

#### Elegant Approach

In [2]:
a, b, c = 10, 5, 3

print(a, b, c, sep = "\n")

10
5
3

In [3]:
a, b, c = 10, 5, 3

print(a, end = "\n---\n")
print(b, end = "\n---\n")
print(c)

10
---
5
---
3

## #2 Printing the same variable using a FOR loop

#### Naive Approach

In [4]:
repeat = 10
a = "ABC"
for _ in range(repeat):
    print(a, end = "")

ABCABCABCABCABCABCABCABCABCABC

#### Elegant Approach

In [5]:
repeat = 10
a = "ABC"

print(a*repeat)

ABCABCABCABCABCABCABCABCABCABC

## #3â€“4 Creating a separate variable to track the index in a loop

#### Naive Approach #1

In [6]:
idx = 0
char_list = ["a", "b", "c", "d", "e", "f"]

for i in char_list:
    print("index =", idx, "value =", i, sep = " ")
    idx += 1

index = 0 value = a
index = 1 value = b
index = 2 value = c
index = 3 value = d
index = 4 value = e
index = 5 value = f

#### Naive Approach #2

In [7]:
char_list = ["a", "b", "c", "d", "e", "f"]

for idx in range(len(char_list)):
    print("index =", idx, "value =", char_list[idx], sep = " ")
    idx += 1

index = 0 value = a
index = 1 value = b
index = 2 value = c
index = 3 value = d
index = 4 value = e
index = 5 value = f

#### Elegant Approach

In [8]:
char_list = ["a", "b", "c", "d", "e", "f"]

for idx, i in enumerate(char_list):
    print("index =", idx, "value =", i, sep = " ")

index = 0 value = a
index = 1 value = b
index = 2 value = c
index = 3 value = d
index = 4 value = e
index = 5 value = f

## #5 Converting a list to a string using FOR loop

#### Naive Approach

In [9]:
char_list = ["A", "B", "C", "D", "E"]
final_str = ""

for i in char_list:
    final_str += i

print(final_str)

ABCDE

#### Elegant Approach

In [10]:
char_list = ["A", "B", "C", "D", "E"]
final_str = "".join(char_list)

print(final_str)

ABCDE

## #6 Removing duplicates from a list using a FOR loop

#### Naive Approach

In [11]:
char_list = ["A", "B", "A", "D", "C", "B", "E"]
final_list = []

for i in char_list:
    if i not in final_list:
        final_list.append(i)

print(final_list)

['A', 'B', 'D', 'C', 'E']

#### Elegant Approach

In [12]:
char_list = ["A", "B", "A", "D", "C", "B", "E"]

set(list(char_list))

{'A', 'B', 'C', 'D', 'E'}

In [13]:
char_list = ["A", "B", "A", "D", "C", "B", "E"]

list(set(list(char_list)))

['B', 'E', 'D', 'C', 'A']

## #7 Searching for an element in a list using FOR loop

#### Naive Approach

In [14]:
char_list = ["A", "B", "A", "D", "C", "B", "E"]
search_char = "D"
found = False

for i in char_list:
    if i == search_char:
        found = True
        break

print(found)

True

#### Elegant Approach

In [15]:
char_list = ["A", "B", "A", "D", "C", "B", "E"]
search_char = "D"

search_char in char_list

True

## #8 Iterating over two iterables of the same size using an index variable

#### Naive Approach

In [16]:
list1 = [1, 3, 6, 2, 5]
list2 = [0, 4, 1, 9, 7]

for idx in range(len(list1)):
    print("value1 =", list1[idx], "value2 =", list2[idx], sep = " ")

value1 = 1 value2 = 0
value1 = 3 value2 = 4
value1 = 6 value2 = 1
value1 = 2 value2 = 9
value1 = 5 value2 = 7

#### Elegant Approach

In [17]:
list1 = [1, 3, 6, 2, 5]
list2 = [0, 4, 1, 9, 7]

for i, j in zip(list1, list2):
    print("value1 =", i, "value2 =", j, sep = " ")

value1 = 1 value2 = 0
value1 = 3 value2 = 4
value1 = 6 value2 = 1
value1 = 2 value2 = 9
value1 = 5 value2 = 7

## #9 Reversing a list using a FOR loop

#### Naive Approach

In [18]:
input_list  = [1, 2, 3, 4, 5]
output_list = []

for idx in range(len(input_list), 0, -1):
    output_list.append(input_list[idx-1])

print(output_list)

[5, 4, 3, 2, 1]

#### Elegant Approach

In [19]:
input_list  = [1, 2, 3, 4, 5]

output_list = input_list[::-1]
print(output_list)

[5, 4, 3, 2, 1]

## #10 Checking Palindrome using a FOR loop

#### Naive Approach

In [20]:
input_list  = [1, 2, 3, 2, 1]
output_list = []

for idx in range(len(input_list), 0, -1):
    output_list.append(input_list[idx-1])

print(output_list == input_list)

True

#### Elegant Approach

In [21]:
input_list  = [1, 2, 3, 2, 1]

output_list = input_list[::-1]
print(output_list == input_list)

True