In [1]:
import pandas as pd
import seaborn as sns

In [2]:
tip = sns.load_dataset('tips')
tip.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [3]:
def Multiplier(val):
    return val * 2;

In [4]:
tip['tip'] = tip['tip'].apply(Multiplier)
tip.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  2.02  Female     No  Sun  Dinner     2
1       10.34  3.32    Male     No  Sun  Dinner     3
2       21.01  7.00    Male     No  Sun  Dinner     3
3       23.68  6.62    Male     No  Sun  Dinner     2
4       24.59  7.22  Female     No  Sun  Dinner     4