In [1]:
import pandas as pd
import numpy as np

In [2]:
data = {'Category': ['A', 'B', 'A', 'B'], 'Value': [1, 2, 3, 4]}
df = pd.DataFrame(data)
df

  Category  Value
0        A      1
1        B      2
2        A      3
3        B      4

In [3]:
grouped = df.groupby('Category')
group_A = grouped.get_group('A')
group_A

  Category  Value
0        A      1
2        A      3

In [4]:
grouped = df.groupby(['Category', 'Value'])
group_A_1 = grouped.get_group(('A', 1))
group_A_1

  Category  Value
0        A      1

In [5]:
result = df.groupby('Category')['Value'].mean()
result

Category
A    2.0
B    3.0
Name: Value, dtype: float64

In [6]:
data = {'Category': ['A', 'A', 'B', 'B'],
        'Value1': [1, 2, 3, 4],
        'Value2': [10, 20, 30, 40]}
df = pd.DataFrame(data)
df

  Category  Value1  Value2
0        A       1      10
1        A       2      20
2        B       3      30
3        B       4      40

In [7]:
result = df.groupby('Category').agg(np.mean)
result

          Value1  Value2
Category
A            1.5    15.0
B            3.5    35.0

In [8]:
data = {'A': [1, 2, 3], 'B': [4, 5, 6]}
df = pd.DataFrame(data)
df

   A  B
0  1  4
1  2  5
2  3  6

In [9]:
result = df.apply(np.mean)
result

A    2.0
B    5.0
dtype: float64

In [10]:
result = df.apply(np.max, axis=1)
result

0    4
1    5
2    6
dtype: int64