In [1]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import random
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.DataFrame({
    'group': ['A', 'A', 'B', 'B'],
    'value1': [10, 20, 30, 40],
    'value2': [100, 200, 300, 400]
})
# use groupby
result = df.groupby('group').agg({'value1': 'sum', 'value2': 'mean'})

result = result.rename(columns={'value1': 'sum_value1', 'value2': 'mean_value2'})
result

       sum_value1  mean_value2
group
A              30        150.0
B              70        350.0

In [3]:
df = pd.DataFrame({
    'group': ['A', 'A', 'B', 'B'],
    'value1': [10, 20, 30, 40],
    'value2': [100, 200, 300, 400]
})
result = df.groupby('group').agg(sum_value1=('value1', 'sum'), mean_value2=('value2', 'mean'))
result

       sum_value1  mean_value2
group
A              30        150.0
B              70        350.0