In [1]:
import pandas as pd
import numpy as np

In [61]:
df = pd.DataFrame(data={'2022-11-01': [5, 2, np.nan, 10], '2022-11-02': [3, np.nan, 4, 6], '2022-11-03': [6, 4, 10, 22], '2022-11-04': [75, 8, 4, 15],
                       '2022-11-05': [60, 4, np.nan, 80], '2022-11-06': [45, np.nan, 4, 8], '2022-11-07': [3, np.nan, 4, 19]})

In [62]:
df.head()

,2022-11-01,2022-11-02,2022-11-03,2022-11-04,2022-11-05,2022-11-06,2022-11-07
0,5.0,3.0,6,75,60.0,45.0,3.0
1,2.0,NaN,4,8,4.0,NaN,NaN
2,NaN,4.0,10,4,NaN,4.0,4.0
3,10.0,6.0,22,15,80.0,8.0,19.0

In [68]:
df = df.notnull()

In [71]:
df

,2022-11-01,2022-11-02,2022-11-03,2022-11-04,2022-11-05,2022-11-06,2022-11-07
0,True,True,True,True,True,True,True
1,True,False,True,True,True,False,False
2,False,True,True,True,False,True,True
3,True,True,True,True,True,True,True

In [77]:
if (df.loc[0, df.columns[0]] == df.loc[0, df.columns[1]] == df.loc[0, df.columns[2]] == df.loc[0, df.columns[3]]) == True:
    df.loc[0, 'Mask'] = 'OK'

In [78]:
for i in range(len(df.index)):
    for j in range(0, 7):

,2022-11-01,2022-11-02,2022-11-03,2022-11-04,2022-11-05,2022-11-06,2022-11-07,Mask
0,True,True,True,True,True,True,True,OK
1,True,False,True,True,True,False,False,NaN
2,False,True,True,True,False,True,True,NaN
3,True,True,True,True,True,True,True,NaN

In [49]:
df = df.T

In [52]:
df

               0    1     2     3
2022-11-01   5.0  2.0   NaN  10.0
2022-11-02   3.0  NaN   4.0   6.0
2022-11-03   6.0  4.0  10.0  22.0
2022-11-04  75.0  8.0   4.0  15.0
2022-11-05  60.0  4.0   NaN  80.0
2022-11-06  45.0  NaN   4.0   8.0
2022-11-07   3.0  NaN   4.0  19.0

In [55]:
df = df.notnull()

In [58]:
df

               0      1      2     3
2022-11-01  True   True  False  True
2022-11-02  True  False   True  True
2022-11-03  True   True   True  True
2022-11-04  True   True   True  True
2022-11-05  True   True  False  True
2022-11-06  True  False   True  True
2022-11-07  True  False   True  True

In [ ]:
g = df['Mask'].ne(df['Mask'].shift()).cumsum()

df['Count'] = df.groupby(g)['Mask'].transform('size') * np.where(df['Mask'], 1, -1)

In [56]:
df[df.columns[0]].ne(df[df.columns[0]].shift()).cumsum()

2022-11-01    1
2022-11-02    1
2022-11-03    1
2022-11-04    1
2022-11-05    1
2022-11-06    1
2022-11-07    1
Name: 0, dtype: int32

In [57]:
df[df.columns[1]].ne(df[df.columns[1]].shift()).cumsum()

2022-11-01    1
2022-11-02    2
2022-11-03    3
2022-11-04    3
2022-11-05    3
2022-11-06    4
2022-11-07    4
Name: 1, dtype: int32

In [ ]:
df['Count'] = df.groupby(g)['Mask'].transform('size') * np.where(df['Mask'], 1, -1)

In [59]:
df.groupby(df[df.columns[1]].ne(df[df.columns[1]].shift()).cumsum())[df.columns[1]].transform('size') * np.where(df[df.columns[1]], 1, -1)

2022-11-01    1
2022-11-02   -1
2022-11-03    3
2022-11-04    3
2022-11-05    3
2022-11-06   -2
2022-11-07   -2
Name: 1, dtype: int64

In [60]:
df.groupby(df[df.columns[0]].ne(df[df.columns[0]].shift()).cumsum())[df.columns[0]].transform('size') * np.where(df[df.columns[0]], 1, -1)

2022-11-01    7
2022-11-02    7
2022-11-03    7
2022-11-04    7
2022-11-05    7
2022-11-06    7
2022-11-07    7
Name: 0, dtype: int64