In [1]:
import numpy as np
import pandas as pd
import time

In [2]:
# Create a DataFrame
df = pd.DataFrame(np.random.randint(0, 50, size=(6000000, 4)), columns=('a','b','c','d'))
print(df.shape)
df.head()

(6000000, 4)

    a   b   c   d
0  28  26  10  34
1  35  32   5  46
2  12  10  46  16
3  12  38   0  27
4  40  33  21  47

In [3]:
# Option 1: Iterrows
start = time.time()
# Iterating through DataFrame using iterrows
for idx, row in df.iterrows():
    if row.a == 0:
        df.at[idx,'e'] = row.d
    
    elif (row.a <= 25) & (row.a > 0):
        df.at[idx,'e'] = (row.b)-(row.c)
    else:
        df.at[idx,'e'] = row.b + row.c

end = time.time()
print(end - start)

577.5350241661072

In [4]:
# Option 2: Itertuples()
start = time.time()
# Iterating through namedtuples
for row in df.itertuples():
    if row.a == 0:
        df.at[row.Index,'e'] = row.d
    
    elif (row.a <= 25) & (row.a > 0):
        df.at[row.Index,'e'] = (row.b)-(row.c)
    else:
        df.at[row.Index,'e'] = row.b + row.c 
        
end = time.time()
print(end - start)

115.12229633331299

In [5]:
# Option 3: Dictionary
start = time.time()
# converting the DataFrame to a dictionary
df_dict = df.to_dict('records')  
# Iterating through the dictionary 
for row in df_dict[:]:
    if row['a'] == 0:
        row['e'] = row['d']
    
    elif row['a'] <= 25 & row['a'] > 0:
        row['e'] = row['b']-row['c']
    else:
        row['e'] = row['b'] + row['c']
# converting back to DataFrame
df4 = pd.DataFrame(df_dict)
end = time.time()
print(end - start)

32.50951933860779

In [6]:
# Option 4: Array/List
start = time.time()
# create an empty dictionary
list2 = []
# intialize column having 0s. 
df['e'] = 0
# iterate through a NumPy array 
for row in df.values:
    if row[0] == 0:
        row[4] = row[3]
    
    elif row[0] <= 25 & row[0] > 0:
        row[4] = row[1]-row[2]
   
    else:
        row[4] = row[1] + row[2]
## append values to a list
    list2.append(row)
## convert the list to a dataframe  
df2 = pd.DataFrame(list2, columns=['a', 'b', 'c', 'd','e'])
end = time.time()
print(end - start)

153.51632738113403