In [1]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randint(10, size=(5,5)), columns=list('ABCDE'))
df

   A  B  C  D  E
0  5  6  4  6  6
1  5  4  2  8  7
2  4  1  7  3  3
3  0  7  7  5  8
4  1  5  5  6  7

In [2]:
def calculate_average(row_col):
    return row_col.mean()

In [3]:
df.apply(calculate_average, axis=0) # Column Average

A    3.0
B    4.6
C    5.0
D    5.6
E    6.2
dtype: float64

In [4]:
df.apply(calculate_average, axis=1) # Row Average

0    5.4
1    5.2
2    3.6
3    5.4
4    4.8
dtype: float64

In [5]:
df.applymap(lambda x: x*x)

    A   B   C   D   E
0  25  36  16  36  36
1  25  16   4  64  49
2  16   1  49   9   9
3   0  49  49  25  64
4   1  25  25  36  49

In [6]:
df['C'].map(lambda x: x*x)

0    16
1     4
2    49
3    49
4    25
Name: C, dtype: int64

In [7]:
df.iloc[1, :].map(lambda x: x*x)

A    25
B    16
C     4
D    64
E    49
Name: 1, dtype: int64

In [8]:
df['F'] = ['Abc','Dbc','Fcd','Afc','Kcd']
df['G'] = ['A',np.nan,'B1','B1','C']
df

   A  B  C  D  E    F    G
0  5  6  4  6  6  Abc    A
1  5  4  2  8  7  Dbc  NaN
2  4  1  7  3  3  Fcd   B1
3  0  7  7  5  8  Afc   B1
4  1  5  5  6  7  Kcd    C

In [9]:
df['G'].map({'B1':'B', 'A':'A', 'C':'C'})

0      A
1    NaN
2      B
3      B
4      C
Name: G, dtype: object

In [10]:
df['F'].apply(lambda x: [x.lower(), len(x)])

0    [abc, 3]
1    [dbc, 3]
2    [fcd, 3]
3    [afc, 3]
4    [kcd, 3]
Name: F, dtype: object