In [1]:
import pandas as pd
from nba_api.stats.endpoints import TeamGameLogs

In [2]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)
pd.set_option('display.max_seq_items', None)

In [3]:
# List of season years
season_years = ['2023-24', '2022-23', '2021-22', '2020-21', '2019-20', '2018-19']

In [4]:
# Create an empty DataFrame to store the data
games = pd.DataFrame()

# Loop through the season years and append to the games df
for season_year in season_years:

    gamedatapull = TeamGameLogs(
        league_id_nullable='', #default is the nba, can adj to g-league,wnba
        team_id_nullable='', # will pull all teams from the league chosen, can adj to select specfic team_id
        season_nullable = season_year, # inputting our variable 
        season_type_nullable='Regular Season' # can incldue Pre Season, Playoffs, All Star
    )
    
    games_season = gamedatapull.get_data_frames()[0]
    games = pd.concat([games, games_season], ignore_index=True)

In [5]:
games.head(3)

,SEASON_YEAR,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,TOV,STL,BLK,BLKA,PF,PFD,PTS,PLUS_MINUS,GP_RANK,W_RANK,L_RANK,W_PCT_RANK,MIN_RANK,FGM_RANK,FGA_RANK,FG_PCT_RANK,FG3M_RANK,FG3A_RANK,FG3_PCT_RANK,FTM_RANK,FTA_RANK,FT_PCT_RANK,OREB_RANK,DREB_RANK,REB_RANK,AST_RANK,TOV_RANK,STL_RANK,BLK_RANK,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK,AVAILABLE_FLAG
0,2023-24,1610612758,SAC,Sacramento Kings,0022300901,2024-03-06T00:00:00,SAC @ LAL,W,48.0,54,97,0.557,12,31,0.387,10,12,0.833,9,37,46,32,14.0,8,2,5,23,14,130,10.0,1,1,1,1,91,28,211,144,952,1263,740,1642,1729,571,1086,388,597,251,933,616,1589,815,1494,1621,210,442,1
1,2023-24,1610612747,LAL,Los Angeles Lakers,0022300901,2024-03-06T00:00:00,LAL vs. SAC,L,48.0,42,81,0.519,15,32,0.469,21,25,0.840,3,31,34,25,14.0,4,5,2,14,23,120,-10.0,1,931,931,931,91,892,1624,396,435,1157,212,433,565,548,1840,1108,1717,1077,933,1588,776,103,154,263,620,1387,1
2,2023-24,1610612764,WAS,Washington Wizards,0022300894,2024-03-06T00:00:00,WAS vs. ORL,L,48.0,40,88,0.455,12,38,0.316,17,20,0.850,9,26,35,26,9.0,7,4,5,20,14,109,-10.0,1,931,931,931,91,1166,992,1206,952,544,1362,871,1091,464,1086,1657,1677,937,146,855,1048,815,1014,1621,1235,1387,1

In [6]:
# Convert the 'date' column to datetime format
games['GAME_DATE'] = pd.to_datetime(games['GAME_DATE'])

# Convert the datetime format to your desired format
games['GAME_DATE'] = games['GAME_DATE'].dt.strftime('%m/%d/%Y')

In [7]:
games.head(3)

,SEASON_YEAR,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,TOV,STL,BLK,BLKA,PF,PFD,PTS,PLUS_MINUS,GP_RANK,W_RANK,L_RANK,W_PCT_RANK,MIN_RANK,FGM_RANK,FGA_RANK,FG_PCT_RANK,FG3M_RANK,FG3A_RANK,FG3_PCT_RANK,FTM_RANK,FTA_RANK,FT_PCT_RANK,OREB_RANK,DREB_RANK,REB_RANK,AST_RANK,TOV_RANK,STL_RANK,BLK_RANK,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK,AVAILABLE_FLAG
0,2023-24,1610612758,SAC,Sacramento Kings,0022300901,03/06/2024,SAC @ LAL,W,48.0,54,97,0.557,12,31,0.387,10,12,0.833,9,37,46,32,14.0,8,2,5,23,14,130,10.0,1,1,1,1,91,28,211,144,952,1263,740,1642,1729,571,1086,388,597,251,933,616,1589,815,1494,1621,210,442,1
1,2023-24,1610612747,LAL,Los Angeles Lakers,0022300901,03/06/2024,LAL vs. SAC,L,48.0,42,81,0.519,15,32,0.469,21,25,0.840,3,31,34,25,14.0,4,5,2,14,23,120,-10.0,1,931,931,931,91,892,1624,396,435,1157,212,433,565,548,1840,1108,1717,1077,933,1588,776,103,154,263,620,1387,1
2,2023-24,1610612764,WAS,Washington Wizards,0022300894,03/06/2024,WAS vs. ORL,L,48.0,40,88,0.455,12,38,0.316,17,20,0.850,9,26,35,26,9.0,7,4,5,20,14,109,-10.0,1,931,931,931,91,1166,992,1206,952,544,1362,871,1091,464,1086,1657,1677,937,146,855,1048,815,1014,1621,1235,1387,1

In [8]:
# drop "Rank" columns since they seem to be unaccurate. 
# note that columns must be contigous or next to each other for code to work
games.drop(columns=games.loc[:,'GP_RANK':'PLUS_MINUS_RANK'], inplace=True)

In [9]:
games.head(3)

,SEASON_YEAR,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,TOV,STL,BLK,BLKA,PF,PFD,PTS,PLUS_MINUS,AVAILABLE_FLAG
0,2023-24,1610612758,SAC,Sacramento Kings,0022300901,03/06/2024,SAC @ LAL,W,48.0,54,97,0.557,12,31,0.387,10,12,0.833,9,37,46,32,14.0,8,2,5,23,14,130,10.0,1
1,2023-24,1610612747,LAL,Los Angeles Lakers,0022300901,03/06/2024,LAL vs. SAC,L,48.0,42,81,0.519,15,32,0.469,21,25,0.840,3,31,34,25,14.0,4,5,2,14,23,120,-10.0,1
2,2023-24,1610612764,WAS,Washington Wizards,0022300894,03/06/2024,WAS vs. ORL,L,48.0,40,88,0.455,12,38,0.316,17,20,0.850,9,26,35,26,9.0,7,4,5,20,14,109,-10.0,1

In [10]:
games_pv = games.loc[games['WL']=='W'].pivot_table(index='TEAM_NAME', columns='SEASON_YEAR', values=['WL'], aggfunc='count')

In [11]:
games_pv.head(3)

                    WL
SEASON_YEAR    2018-19 2019-20 2020-21 2021-22 2022-23 2023-24
TEAM_NAME
Atlanta Hawks       29      20      41      43      41      28
Boston Celtics      49      48      36      51      57      48
Brooklyn Nets       42      35      48      44      45      25

In [12]:
games_pv['Total Wins'] = games_pv[games_pv.columns].sum(axis=1)
games_pv.sort_values('Total Wins', ascending=False, inplace=True)
games_pv.rename(columns=lambda c: c.replace('WL', 'Wins'), inplace=True)

In [13]:
games_pv

                          Wins                                          \
SEASON_YEAR            2018-19 2019-20 2020-21 2021-22 2022-23 2023-24
TEAM_NAME
Milwaukee Bucks             60      56      46      51      58      41
Denver Nuggets              54      46      47      48      53      42
Boston Celtics              49      48      36      51      57      48
Philadelphia 76ers          51      43      49      51      54      35
LA Clippers                 48      49      47      42      44      40
Utah Jazz                   50      44      52      49      37      28
Miami Heat                  39      44      40      53      44      35
Toronto Raptors             58      53      27      48      41      23
Phoenix Suns                19      34      51      64      45      36
Dallas Mavericks            33      43      42      52      38      34
Golden State Warriors       57      15      39      53      44      33
Los Angeles Lakers          37      52      42      33      43      34
Brooklyn Nets               42      35      48      44      45      25
Memphis Grizzlies           33      34      38      56      51      22
Oklahoma City Thunder       49      44      22      24      40      43
Indiana Pacers              48      45      34      25      35      35
Sacramento Kings            39      31      31      30      48      35
Minnesota Timberwolves      36      19      23      46      42      43
New Orleans Pelicans        33      30      31      36      42      37
Portland Trail Blazers      53      35      42      27      33      17
Atlanta Hawks               29      20      41      43      41      28
New York Knicks             17      21      41      37      47      36
Cleveland Cavaliers         19      19      22      44      51      40
Chicago Bulls               22      22      31      46      40      30
Orlando Magic               42      33      21      22      34      37
Houston Rockets             53      44      17      20      22      27
San Antonio Spurs           48      32      33      34      22      13
Charlotte Hornets           39      23      33      43      27      15
Washington Wizards          32      25      34      35      35       9
Detroit Pistons             41      20      20      23      17       9

                       Total Wins
SEASON_YEAR
TEAM_NAME
Milwaukee Bucks               312
Denver Nuggets                290
Boston Celtics                289
Philadelphia 76ers            283
LA Clippers                   270
Utah Jazz                     260
Miami Heat                    255
Toronto Raptors               250
Phoenix Suns                  249
Dallas Mavericks              242
Golden State Warriors         241
Los Angeles Lakers            241
Brooklyn Nets                 239
Memphis Grizzlies             234
Oklahoma City Thunder         222
Indiana Pacers                222
Sacramento Kings              214
Minnesota Timberwolves        209
New Orleans Pelicans          209
Portland Trail Blazers        207
Atlanta Hawks                 202
New York Knicks               199
Cleveland Cavaliers           195
Chicago Bulls                 191
Orlando Magic                 189
Houston Rockets               183
San Antonio Spurs             182
Charlotte Hornets             180
Washington Wizards            170
Detroit Pistons               130