In [1]:
import pandas as pd

In [2]:
n = 1_000_000
df = pd.DataFrame({
    letter: list(range(n))
    for letter in "abcdefghijklmnopqrstuwxyz"
})

In [3]:
df.shape

(1000000, 25)

In [4]:
df.head()

   a  b  c  d  e  f  g  h  i  j  ...  p  q  r  s  t  u  w  x  y  z
0  0  0  0  0  0  0  0  0  0  0  ...  0  0  0  0  0  0  0  0  0  0
1  1  1  1  1  1  1  1  1  1  1  ...  1  1  1  1  1  1  1  1  1  1
2  2  2  2  2  2  2  2  2  2  2  ...  2  2  2  2  2  2  2  2  2  2
3  3  3  3  3  3  3  3  3  3  3  ...  3  3  3  3  3  3  3  3  3  3
4  4  4  4  4  4  4  4  4  4  4  ...  4  4  4  4  4  4  4  4  4  4

[5 rows x 25 columns]

In [5]:
take_cols=['a', 'b', 'g', 'n', 'x']
subdf = df[take_cols]
subdf = subdf[subdf['a'] < 50_000]
subdf = subdf[subdf['b'] > 3000]

In [6]:
subdf.shape

(46999, 5)

In [7]:
# Same way
subdf = df[df['a'] < 50_000]
subdf = subdf[subdf['b'] > 3000]
subdf = subdf[take_cols]

In [8]:
subdf.shape

(46999, 5)