In [1]:
df = pd.DataFrame({'a': [1, 2], 'b': [3, 4]})
df

   a  b
0  1  3
1  2  4

In [2]:
df.eval('a + b')

0    4
1    6
dtype: int64

In [3]:
df['a'] + df['b']

0    4
1    6
dtype: int64

In [4]:
pd.eval('df.a.sum()', local_dict={'df': df})

3

In [5]:
pd.eval('a.sum()', local_dict={'a': df.a})

3

In [6]:
df.eval('c = a * b')

   a  b  c
0  1  3  3
1  2  4  8