In [1]:
import pandas as pd
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
planets = sns.load_dataset('planets')
planets.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [3]:
planets.head(10).style.hide_index()

In [4]:
planets.head(10).style.hide_index().hide_columns(['method','year'])

In [5]:
planets.head(10).style.highlight_max(color = 'yellow')

In [6]:
planets.head(10).style.highlight_min(color = 'lightblue')

In [7]:
planets.head(10).style.highlight_max(color='yellow').highlight_min(color = 'lightblue')

In [8]:
planets.iloc[:, 1:].head(10).style.highlight_max(color = 'yellow', axis =1)

In [9]:
planets.head(10).style.highlight_null(null_color = 'red')

In [10]:
planets.head(10).style.background_gradient(cmap = 'Blues')

In [11]:
planets.head(10).sort_values(by = 'year').style.bar(cmap='RdYlGn', subset=['distance'])

In [12]:
planets.head(10).sort_values(by = 'year').style.bar(color= 'lightblue')

In [13]:
def color_below_20_red(value):
    if type(value) == type(''):
        return 'color:black'
    else:
        color = 'red' if value <= 20 else 'black'
        return 'color: {}'.format(color)

planets.head(10).style.applymap(color_below_20_red)