In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame(np.random.randn(10, 2)*100)
df

            0           1
0  102.600704   22.171904
1  -60.301717  118.630298
2  174.752817  -61.411105
3 -150.113041  -98.807533
4   14.481284  -22.289135
5  211.819923  -69.745361
6  -46.913321  -67.716363
7 -145.369356   49.459757
8  -87.480507   61.676281
9   40.074308    2.338378

In [3]:
df.style.format("{:.2f}")

In [4]:
def highlight_number(row):
    return [
        'background-color: red; color: white' if cell <= 0 
        else 'background-color: green; color: white'
        for cell in row
    ]

In [5]:
df.style.apply(highlight_number)

In [6]:
df.style \
  .apply(highlight_number) \
  .format('${0:,.2f}') \
  .set_caption('A Sample Table') \
  .set_properties(padding="20px", border='2px solid white')

In [7]:
# Make a nan value for demo purposes
df.at[1, 1] = None
# Add styles
df.style \
  .highlight_null('lightgray') \
  .highlight_max(color='lightgreen') \
  .highlight_min(color='pink')

In [8]:
df = pd.DataFrame(np.random.randn(10, 2))
df.style \
  .background_gradient(cmap='Blues')

In [9]:
df.style.bar()

In [10]:
df.style \
  .format('{:.2f}') \
  .bar(align='mid', color=['#FCC0CB', '#90EE90']) \
  .set_caption('A Sample Table with Bar Chart') \
  .set_properties(padding="15px", border='2px solid white', width='300px')

In [11]:
from sparklines import sparklines
df = pd.DataFrame({
    'a': np.random.normal(0, 1, 100),
    'b': np.random.normal(1, 1, 100),
    'c': np.random.normal(0, 3, 100)
})
df

           a         b         c
0  -1.175502  0.287606 -6.870417
1   0.953254  0.410573  0.118955
2  -0.513515  0.931535 -3.693690
3   1.509942  0.865237  4.553498
4  -1.100857  1.260801  1.839101
..       ...       ...       ...
95  0.034734  1.376166  1.675168
96 -1.340328  0.180961  2.001185
97 -0.691459 -1.289486 -0.924872
98  0.041159  0.090484 -0.320711
99 -0.273014  0.240314  2.608161

[100 rows x 3 columns]

In [12]:
def sparkline_dist(data):
    hist = np.histogram(data, bins=10)[0]
    dist_strings = ''.join(sparklines(hist))
    return dist_strings

In [13]:
sl_list = [sparkline_dist(df[col]) for col in df.columns]
sl_list

['▂▁▄▅▆▇█▄▄▂', '▂▁▃▅██▇▃▃▁', '▂▂▂▃▅█▄▅▃▁']

In [14]:
df_stats = df.agg(['mean', 'std']).transpose()
df_stats['histogram'] = sl_list
df_stats.style \
  .format('{:.2f}', subset=['mean', 'std']) \
  .set_caption('A Sample Table with Sparklines Distributions') \
  .set_properties(padding="15px", border='2px solid white')