In [1]:
import pandas as pd

In [2]:
# Sample data
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Emma'],
        'Age': [25, 35, 45, 55, 65]}

df = pd.DataFrame(data)

# Define custom bins and labels
bins = [0, 30, 40, 50, 60, 100]
labels = ['0-30', '31-40', '41-50', '51-60', '61-100']

# Create a new column 'Age Group'
# Using pd.cut()
df['Age Group'] = pd.cut(df['Age'], bins=bins, labels=labels)
print(df)

      Name  Age Age Group
0    Alice   25      0-30
1      Bob   35     31-40
2  Charlie   45     41-50
3    David   55     51-60
4     Emma   65    61-100

In [3]:
# Creating a sample DataFrame
data = {'Category': ['A', 'B', 'A', 'C', 'B', 'C'],
        'Value': [10, 15, 20, 25, 30, 35]}
df = pd.DataFrame(data)

# Using crosstab to analyze the relationship between 'Category' and 'Value'
cross_table = pd.crosstab(df['Category'], df['Value'])
print(cross_table)

Value     10  15  20  25  30  35
Category
A          1   0   1   0   0   0
B          0   1   0   0   1   0
C          0   0   0   1   0   1

In [4]:
# Creating a sample DataFrame with mixed data types
data = {'Name': ['John', 'Alice', 'Bob'],
        'Age': [25, 30, 22],
        'Score': ['95', '88', '75']}
df = pd.DataFrame(data)

# Checking data types before using infer_objects()
print(df.dtypes)

# Using infer_objects() to infer better data types
df = df.infer_objects()

# Checking data types after using infer_objects()
print(df.dtypes)

Name     object
Age       int64
Score    object
dtype: object
Name     object
Age       int64
Score    object
dtype: object

In [5]:
# Sample data
data = {'Product': ['A', 'B', 'C'],
        'Jan_Sales': [100, 150, 200],
        'Feb_Sales': [120, 130, 180],
        'Mar_Sales': [90, 160, 210]}

df = pd.DataFrame(data)

# Melt the DataFrame
df_melted = pd.melt(df, id_vars=['Product'], 
var_name='Month', value_name='Sales')

print(df_melted)

  Product      Month  Sales
0       A  Jan_Sales    100
1       B  Jan_Sales    150
2       C  Jan_Sales    200
3       A  Feb_Sales    120
4       B  Feb_Sales    130
5       C  Feb_Sales    180
6       A  Mar_Sales     90
7       B  Mar_Sales    160
8       C  Mar_Sales    210

In [6]:
# Sample data
data = {'Student': ['Alice', 'Bob', 'Charlie', 'David', 'Emma'],
        'Score': [85, 92, 78, 95, 88]}

df = pd.DataFrame(data)

# Retrieve top 3 students based on 'Score'
top_students = df.nlargest(3, 'Score')

print(top_students)

  Student  Score
3   David     95
1     Bob     92
4    Emma     88