In [1]:
import pandas as pd

# Sample sales data
data = {
    'Region': ['North', 'South', 'East', 'West', 'North', 'South', 'East', 'West'],
    'Product': ['A', 'A', 'B', 'B', 'C', 'C', 'D', 'D'],
    'Sales': [200, 250, 150, 300, 100, 200, 250, 100]
}
df = pd.DataFrame(data)

# Grouping data by region and calculating average sales
average_sales = df.groupby('Region')['Sales'].mean()

average_sales

Region
East     200.0
North    150.0
South    225.0
West     200.0
Name: Sales, dtype: float64

In [2]:
import pandas as pd

# Creating a date range and sample traffic data
date_range = pd.date_range(start="2023-01-01", end="2023-01-07")
data = {
    'Date': date_range,
    'Traffic': [120, 150, 170, 200, 230, 180, 160]
}
df = pd.DataFrame(data)
df.set_index('Date', inplace=True)

# Grouping by week to analyze weekly traffic trends
weekly_traffic = df.resample('W').sum()

weekly_traffic

            Traffic
Date
2023-01-01      120
2023-01-08     1090

In [3]:
import pandas as pd

# Sample dataset representing sales across different product categories
data = {
    'Category': ['Electronics', 'Apparel', 'Home & Garden', 'Electronics', 'Apparel'],
    'Sales': [20000, 15000, 18000, 25000, 16000]
}
df = pd.DataFrame(data)

# Grouping data by category to analyze sales
category_sales = df.groupby('Category').sum()

category_sales

               Sales
Category
Apparel        31000
Electronics    45000
Home & Garden  18000

In [4]:
import pandas as pd

# Sample dataset of user session durations (in minutes)
data = {
    'UserID': [1, 2, 1, 3, 2, 1, 3],
    'SessionDuration': [5, 10, 15, 20, 25, 30, 35]
}
df = pd.DataFrame(data)

# Grouping by UserID to find the average session duration
average_session = df.groupby('UserID')['SessionDuration'].mean()

print(average_session)

UserID
1    16.666667
2    17.500000
3    27.500000
Name: SessionDuration, dtype: float64

In [5]:
import pandas as pd

# Sample dataset of customer transactions
data = {
    'CustomerID': [1, 2, 1, 3, 2, 1, 3],
    'TransactionAmount': [100, 200, 150, 300, 250, 50, 400]
}
df = pd.DataFrame(data)

# Grouping by CustomerID to calculate total and average spending
customer_spend = df.groupby('CustomerID')['TransactionAmount'].agg(TotalSpend='sum', AverageSpend='mean')

print(customer_spend)

            TotalSpend  AverageSpend
CustomerID
1                  300         100.0
2                  450         225.0
3                  700         350.0