In [1]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
data = {'Category': ['A', 'B', 'A', 'B', 'A', 'B', 'A', 'B'],
        'Subcategory': ['X', 'X', 'Y', 'Y', 'X', 'Y', 'X', 'Y'],
        'Value': [1, 2, 3, 4, 5, 6, 7, 8]}

df = pd.DataFrame(data)
df

  Category Subcategory  Value
0        A           X      1
1        B           X      2
2        A           Y      3
3        B           Y      4
4        A           X      5
5        B           Y      6
6        A           X      7
7        B           Y      8

In [3]:
# Customizing Aggregation Functions
pivot_df = df.pivot_table(index='Category', columns='Subcategory', values='Value', aggfunc=np.median, fill_value=0)
pivot_df

Subcategory  X  Y
Category
A            5  3
B            2  6

In [4]:
# Adding Row and Column Totals
pivot_df = df.pivot_table(index='Category', columns='Subcategory', values='Value', aggfunc='sum', fill_value=0, margins=True, margins_name='Total')
pivot_df

Subcategory   X   Y  Total
Category
A            13   3     16
B             2  18     20
Total        15  21     36

In [5]:
data = {'Year': [2019, 2019, 2020, 2020, 2021, 2021],
        'Category': ['A', 'B', 'A', 'B', 'A', 'B'],
        'Value': [10, 20, 30, 40, 50, 60]}

df = pd.DataFrame(data)
df

   Year Category  Value
0  2019        A     10
1  2019        B     20
2  2020        A     30
3  2020        B     40
4  2021        A     50
5  2021        B     60

In [6]:
# Multi-level Pivot Tables
pivot_df = df.pivot_table(index=['Year', 'Category'], values='Value', aggfunc='sum')
pivot_df

               Value
Year Category
2019 A            10
     B            20
2020 A            30
     B            40
2021 A            50
     B            60