In [1]:
import pandas as pd
import pydeck as pdk

In [2]:
# Specify the column names to keep:
columns_to_keep = ["city", "lat", "lng", "population", 'density']

# Load the CSV file into a DataFrame and keep only the specified columns:
df_us = pd.read_csv('https://bit.ly/3ObClvP', usecols=columns_to_keep)

# Scale the population column for easier comparison to Australia:
df_us['popl_div_100'] = (df_us['population'] / 100)  

display(df_us)

,city,lat,lng,population,density,popl_div_100
0,New York,40.6943,-73.9249,18972871,10768.2,189728.71
1,Los Angeles,34.1141,-118.4068,12121244,3267.6,121212.44
2,Chicago,41.8375,-87.6866,8595181,4576.6,85951.81
3,Miami,25.7840,-80.2101,5711945,4945.7,57119.45
4,Dallas,32.7935,-96.7667,5668165,1522.2,56681.65
...,...,...,...,...,...,...
30839,Ironville,40.6586,-78.2155,0,59.2,0.00
30840,Newkirk,35.0635,-104.2715,0,0.0,0.00
30841,Falcon Village,26.5652,-99.1341,0,38.9,0.00
30842,Hidden Lakes,40.5479,-82.7632,0,18.6,0.00
30843,El Monte Mobile Village,36.5471,-119.4251,0,155.4,0.00

In [3]:
# Build the map layer:    
layer = pdk.Layer(type='ColumnLayer',
                  data=df_us,
                  get_position=['lng', 'lat'],
                  get_elevation='population',
                  auto_highlight=True,
                  elevation_scale=0.03,
                  pickable=True,
                  get_fill_color=['population', 255],
                  coverage=5)

# Set the view parameters:
view_state = pdk.ViewState(longitude=-95, 
                           latitude=36,
                           zoom=3.8,
                           min_zoom=3,
                           max_zoom=15,
                           pitch=45.0,
                           bearing=0)

# Render the map:
r = pdk.Deck(layers=[layer], initial_view_state=view_state)
#r.to_html('usa_popl.html')

In [4]:
# Build the map layer:
layer = pdk.Layer(type='ColumnLayer', 
                  data=df_us,
                  get_position=['lng', 'lat'],
                  get_elevation='density',
                  auto_highlight=True,
                  elevation_scale=20,
                  pickable=True,
                  get_fill_color=['density', 220],
                  coverage=2)

# Set the view parameters:
view_state = pdk.ViewState(longitude=-95,
                           latitude=36,
                           zoom=3.8,
                           min_zoom=3,
                           max_zoom=15,
                           pitch=45.0,
                           bearing=0)

# Render the map:
r = pdk.Deck(layers=[layer], initial_view_state=view_state)
#r.to_html('usa_density.html')

In [5]:
## Specify the column names to keep:
columns_to_keep = ["city", "lat", "lng", "population"]

# Load the Australia CSV file into a DataFrame:
df_au = pd.read_csv('https://bit.ly/3PXwziA', usecols=columns_to_keep)
df_au['popl_div_100'] = (df_au['population'] / 100)
display(df_au)

           city      lat       lng  population  popl_div_100
0        Sydney -33.8650  151.2094     5312163      53121.63
1     Melbourne -37.8136  144.9631     5078193      50781.93
2      Brisbane -27.4678  153.0281     2514184      25141.84
3         Perth -31.9522  115.8589     2059484      20594.84
4      Adelaide -34.9289  138.6011     1345777      13457.77
...         ...      ...       ...         ...           ...
1030  The Palms -26.1902  152.5861        1010         10.10
1031  Millfield -32.8886  151.2614        1006         10.06
1032   Dunbogan -31.6500  152.8167        1002         10.02
1033    Tomakin -35.8228  150.1894        1001         10.01
1034     Currie -39.9311  143.8510         768          7.68

[1035 rows x 5 columns]

In [6]:
# Build the map layer:      
layer = pdk.Layer(type='ColumnLayer',
                  data=df_au,
                  get_position=['lng', 'lat'],
                  get_elevation='population',
                  auto_highlight=True,
                  elevation_scale=0.2,
                  pickable=True,
                  get_fill_color=['popl_div_100', 220],
                  coverage=6)

# Set the view parameters:
view_state = pdk.ViewState(longitude=138,
                           latitude=-33,
                           zoom=3.6,
                           min_zoom=3,
                           max_zoom=15,
                           pitch=55.0,
                           bearing=310)

# Render the map:
r = pdk.Deck(layers=[layer], initial_view_state=view_state)
#r.to_html('au.html')

In [7]:
# Build the map layer:      
layer = pdk.Layer(type='ColumnLayer',
                  data=df_us,
                  get_position=['lng', 'lat'],
                  get_elevation='popl_div_100',
                  auto_highlight=True,
                  elevation_scale=30,
                  pickable=True,
                  get_fill_color=[0, 0, 0],
                  coverage=3)

# Set the view:
view_state = pdk.ViewState(longitude=-95,
                           latitude=36,
                           zoom=3,
                           min_zoom=3,
                           max_zoom=15,
                           pitch=0,
                           bearing=0)

# Render the map:
r = pdk.Deck(layers=[layer], initial_view_state=view_state,
             map_style=pdk.map_styles.LIGHT)
#r.to_html('us_popl_light.html')

In [8]:
# Save the rawdata
df_us.to_excel('data/df_us_for_pydeck.xlsx', index=False)
df_au.to_excel('data/df_au_for_pydeck.xlsx', index=False)