In [1]:
# Traditional function
def add_two(x):
    return x + 2

# Lambda function
add_two_lambda = lambda x: x + 2

# Using the lambda function
print(add_two_lambda(5))

7

In [2]:
# Sorting a list of tuples by the second value
data = [(1, 2), (3, 4), (5, 1)]
sorted_data = sorted(data, key=lambda x: x[1])
print(sorted_data)

[(5, 1), (1, 2), (3, 4)]

In [3]:
# Example demonstrating the scope of lambda functions
def make_incrementor(n):
    return lambda x: x + n

f = make_incrementor(42)
print(f(0))
print(f(1))

42
43

In [4]:
# Using lambda with filter() and map()
data = [{'name': 'John', 'age': 28}, {'name': 'Jane', 'age': 24}]
# Filter to get people over 25
filtered_data = list(filter(lambda x: x['age'] > 25, data))
print(filtered_data)

# Map to get names
names = list(map(lambda x: x['name'], data))
print(names)

[{'name': 'John', 'age': 28}]
['John', 'Jane']

In [5]:
# Generating a list of squares using lambda and map()
numbers = [1, 2, 3, 4, 5]
squares = list(map(lambda x: x ** 2, numbers))
print(squares)

[1, 4, 9, 16, 25]

In [6]:
# Nested lambda functions for advanced operations
add = lambda x: lambda y: x + y
result = add(10)(5)
print(result)

15

In [7]:
# Lambda with reduce() to multiply elements
from functools import reduce
numbers = [1, 2, 3, 4]
product = reduce(lambda x, y: x * y, numbers)
print(product)

24

In [8]:
# Normalizing a list of values using lambda
values = [10, 20, 30, 40, 50]
min_val = min(values)
max_val = max(values)
normalized = list(map(lambda x: (x - min_val) / (max_val - min_val), values))
print(normalized)

[0.0, 0.25, 0.5, 0.75, 1.0]

In [9]:
import pandas as pd

# Creating a DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [24, 27, 22]}
df = pd.DataFrame(data)
# Adding a new column using lambda
df['Age in 5 Years'] = df['Age'].apply(lambda x: x + 5)
display(df)

      Name  Age  Age in 5 Years
0    Alice   24              29
1      Bob   27              32
2  Charlie   22              27

In [10]:
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [24, 27, 22, 32]}
df = pd.DataFrame(data)
display(df)

# Filter out rows where Age is less than 25
filtered_df = df[df['Age'].apply(lambda x: x >= 25)]
display(filtered_df)

      Name  Age
0    Alice   24
1      Bob   27
2  Charlie   22
3    David   32

    Name  Age
1    Bob   27
3  David   32