In [1]:
def add_up(*numbers):
    result = 0
    for num in numbers:
        result += num
    return result

print(add_up(1, 2, 3))

6

In [2]:
print(add_up(1, 2, 3, 4))

10

In [3]:
def add_up(*numbers):
    print(type(numbers))
    result = 0
    for num in numbers:
        result += num
    return result

print(add_up(1, 2, 3))

<class 'tuple'>
6

In [4]:
# Generating Dynamic SQL Queries
def create_query(table, *conditions):
    sql = f"SELECT * \nFROM {table}"
    if conditions:
        return sql + "\nWHERE " + "\nAND ".join(conditions)
    return sql

In [5]:
# Without condition
print(create_query("Users"))

SELECT *
FROM Users

In [6]:
# With one condition
print(
    create_query("Users", 
                 "age > 18"
))

SELECT *
FROM Users
WHERE age > 18

In [7]:
# With multiple conditions
print(
    create_query("Users", 
                 "age > 18", 
                 "status = 'active'",
                 "is_vip = 'true'"
))

SELECT *
FROM Users
WHERE age > 18
AND status = 'active'
AND is_vip = 'true'

In [8]:
from datetime import datetime

def log_messages(*msg):
    timestamp = datetime.now().strftime("%Y-%m-%d %H:%M:%S")
    full_message = " | ".join(msg)
    print(f"[{timestamp}] {full_message}")

# Usage examples
log_messages("User logged in", "Username: Chris")
log_messages("File uploading", "Filename: report.pdf", "/ctao/document/report.pdf")
log_messages("File uploaded", "Filename: report.pdf", "Size: 2MB", "Elapsed Time: 1.3s")

[2024-02-04 21:22:19] User logged in | Username: Chris
[2024-02-04 21:22:19] File uploading | Filename: report.pdf | /ctao/document/report.pdf
[2024-02-04 21:22:19] File uploaded | Filename: report.pdf | Size: 2MB | Elapsed Time: 1.3s

In [9]:
def find_common_elements(*datasets):
    # Initialize the common elements set with the first dataset
    common_elements = datasets[0] if datasets else {}
    
    # Intersect with the remaining datasets
    for dataset in datasets[1:]:
        common_elements.intersection_update(dataset)
    
    return common_elements

# Usage examples:
dataset1 = {1, 2, 3, 4}
dataset2 = {2, 3, 4, 5}
dataset3 = {3, 4, 5, 6}

common_elements = find_common_elements(dataset1, dataset2, dataset3)
print(f"The common elements in the datasets are: {common_elements}")

The common elements in the datasets are: {3, 4}

In [10]:
import os

# Take any number of path components
path = os.path.join("Users", "WYCHOI", "Documents", "Work", "report.txt")

print(path)

Users\WYCHOI\Documents\Work\report.txt

In [11]:
print(max(1, 2, 3, 4, 5))
print(min(1, 2, 3, 4, 5))

5
1

In [12]:
max([1, 2, 3, 4, 5])

5

In [13]:
print("Towards", "Data", "Science")
print("Towards", "Data", "Science", sep=" | ")

Towards Data Science
Towards | Data | Science

In [14]:
def my_function(*args):
    result = args[1] + args[2]
    if result > 100:
        result += args[4]
    if args[5] != args[6]:
        return result + args[7]
    else:
        return result