## Comprehension

In [1]:
LIMIT = 20
odds = []

for num in range(LIMIT):
    if num % 2 == 1:
        odds.append(num)
        
print(odds)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [2]:
LIMIT = 20
odds = [num for num in range(LIMIT) if num % 2 == 1]

print(odds)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [3]:
squares = {num: num**2 for num in range(1, 11)}
print(squares)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

## Enumerate

In [4]:
fruits = ['apple', 'banana', 'mango']

for idx in range(len(fruits)):
    print(idx, fruits[idx])

0 apple
1 banana
2 mango

In [5]:
fruits = ['apple', 'banana', 'mango']

for idx, fruit in enumerate(fruits):
    print(idx, fruit)

0 apple
1 banana
2 mango

## Join

In [6]:
chars = ['P', 'y', 't', 'h', 'o', 'n']
word = ''

for char in chars:
    word += char
    
print(word)

Python

In [7]:
chars = ['P', 'y', 't', 'h', 'o', 'n']
word = ''.join(chars)

print(word)

Python

## Zip

In [8]:
names = ['John', 'Corey', 'Adam', 'Steve']
ages = [45, 37, 32, 29]

for i in range(len(names)):
    print(names[i], ages[i])

John 45
Corey 37
Adam 32
Steve 29

In [9]:
names = ['John', 'Corey', 'Adam', 'Steve']
ages = [45, 37, 32, 29]

for name, age in zip(names, ages):
    print(name, age)

John 45
Corey 37
Adam 32
Steve 29

## Reverse

In [10]:
numbers = [1, 2, 3, 4, 5]
reversed_numbers = []

for i in range(len(numbers) - 1, -1, -1):
    reversed_numbers.append(numbers[i])
    
print(reversed_numbers)

[5, 4, 3, 2, 1]

In [11]:
numbers = [1, 2, 3, 4, 5]
reversed_numbers = numbers[::-1]

print(reversed_numbers)

[5, 4, 3, 2, 1]

## F-strings

In [12]:
name = "Python"
age = 33
message = "My name is " + name + " and I am " + str(age) + " years old."

print(message)

My name is Python and I am 33 years old.

In [13]:
name = "Python"
age = 33
message = f"My name is {name} and I am {age} years old."

print(message)

My name is Python and I am 33 years old.

## In

In [14]:
letter = 'E'

if letter == 'A' or letter == 'E' or letter == 'I' or letter == 'O' or letter == 'U':
    print("Vowel")
else:
    print("Consonant")

Vowel

In [15]:
letter = 'E'

if letter in ['A', 'E', 'I', 'O', 'U']:
    print("Vowel")
else:
    print("Consonant")

Vowel

## Type checking

In [16]:
value = 3.7

if type(value) == int:
    print("Integer")
elif type(value) == float:
    print("Float")
else:
    print("Other")

Float

In [17]:
value = 3.7

if isinstance(value, int):
    print("Integer")
elif isinstance(value, float):
    print("Float")
else:
    print("Other")

Float

## Unpacking

In [18]:
point = (4, -1, 5)

x = point[0]
y = point[1]
z = point[2]

print(f"x = {x}, y = {y}, z = {z}")

x = 4, y = -1, z = 5

In [19]:
point = (4, -1, 5)
x, y, z = point

print(f"x = {x}, y = {y}, z = {z}")

x = 4, y = -1, z = 5

## Set

In [20]:
names = ['John', 'Corey', 'Adam', 'Steve', 'Adam', 'Corey']
names_unique = []

for name in names:
    if name not in names_unique:
        names_unique.append(name)

print(names_unique)

['John', 'Corey', 'Adam', 'Steve']

In [21]:
names = ['John', 'Corey', 'Adam', 'Steve', 'Adam', 'Corey']
names_unique = list(set(names))

print(names_unique)

['John', 'Steve', 'Adam', 'Corey']

## Map

In [22]:
numbers_str = ['1', '2', '3', '4', '5']
numbers_int = []

for num_str in numbers_str:
    numbers_int.append(int(num_str))
    
print(numbers_int)

[1, 2, 3, 4, 5]

In [23]:
numbers_str = ['1', '2', '3', '4', '5']
numbers_int = list(map(int, numbers_str))

print(numbers_int)

[1, 2, 3, 4, 5]

## Defaultdict

In [24]:
from collections import defaultdict

scores = defaultdict(list)

scores['Alice'].append(93)
scores['Bob'].append(88)

print(scores['Chris'])

[]

## Counter

In [25]:
fruits = ['apple', 'banana', 'apple', 'orange', 'apple', 'banana', 'apple']

count = {}
for fruit in fruits:
    if fruit in count:
        count[fruit] += 1
    else:
        count[fruit] = 1

print(count)

{'apple': 4, 'banana': 2, 'orange': 1}

In [26]:
from collections import Counter

fruits = ['apple', 'banana', 'apple', 'orange', 'apple', 'banana', 'apple']
count = Counter(fruits)

print(count)

Counter({'apple': 4, 'banana': 2, 'orange': 1})

## Lambda

In [27]:
def square(x):
    return x ** 2

print(square(6))

36

In [28]:
square = lambda x: x ** 2

print(square(6))

36

In [29]:
numbers = [1, 2, 3, 4, 5]

print(list(map(lambda x: x ** 2, numbers)))

[1, 4, 9, 16, 25]