In [1]:
import pandas as pd
import numpy as np

In [2]:
data = {'California': [10, 20, 30], \
        'Texas': [100, 200, 300], \
        'Boston': [50, 80, 90], \
        'product': ['tables', 'chairs', 'windows']}
df = pd.DataFrame(data)
df

   California  Texas  Boston  product
0          10    100      50   tables
1          20    200      80   chairs
2          30    300      90  windows

In [3]:
# To replace 'tables' in the 'product' column
# with 'new_tables'
# ----------------------------- #
df_new = df.replace('tables', 'new_tables')
df_new

   California  Texas  Boston     product
0          10    100      50  new_tables
1          20    200      80      chairs
2          30    300      90     windows

In [4]:
# To Replace 'product' column with 
# matched codes defined by compnay 
# at the same time
# ----------------------------- #
replace_values = {'tables' : 101, 'chairs' : 102, 'windows' : 103 }
df_new = df.replace(replace_values)
df_new

   California  Texas  Boston  product
0          10    100      50      101
1          20    200      80      102
2          30    300      90      103

In [5]:
# To replace values higher than 60 
# with 'A level'
# ----------------------------- #
df_level = df.iloc[:,0:3].where(df.iloc[:,0:3] < 60, 'A')
df_level

   California Texas Boston
0          10     A     50
1          20     A      A
2          30     A      A

In [6]:
# To replace values higher than 60 
# with 'A level', or put 'B level'
# ----------------------------- #
df_level = df
df_level.iloc[:,0:3] = np.where(df.iloc[:,0:3] > 60, 'A_level', 'B_level')
df_level

  California    Texas   Boston  product
0    B_level  A_level  B_level   tables
1    B_level  A_level  A_level   chairs
2    B_level  A_level  A_level  windows