In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('data/income_sample_per_cities.csv')

In [3]:
df.head()

      name  age  gender      city  income
0    Alice   25  Female    London   50000
1      Bob   32    Male     Paris   75000
2  Charlie   47    Male    Berlin   90000
3    David   29    Male  New York   60000
4      Eve   38  Female    Sydney   80000

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    52 non-null     object
 1   age     52 non-null     int64
 2   gender  52 non-null     object
 3   city    52 non-null     object
 4   income  52 non-null     int64
dtypes: int64(2), object(3)
memory usage: 2.2+ KB

In [5]:
df.describe()

             age         income
count  52.000000      52.000000
mean   32.826923   71057.692308
std     7.269925   18212.701301
min    22.000000   40000.000000
25%    27.750000   55000.000000
50%    31.000000   65000.000000
75%    37.250000   81250.000000
max    50.000000  120000.000000

In [6]:
df['income'] = df['income'].astype(str)
df.dtypes

name      object
age        int64
gender    object
city      object
income    object
dtype: object

In [7]:
df['income'] = pd.to_numeric(df['income'], errors='coerce')
df.dtypes

name      object
age        int64
gender    object
city      object
income     int64
dtype: object

In [8]:
df['city'] = df['city'].str.upper()
df['city'].head()

0      LONDON
1       PARIS
2      BERLIN
3    NEW YORK
4      SYDNEY
Name: city, dtype: object

In [9]:
df['city'] = df['city'].str.lower()
df['city'].head()

0      london
1       paris
2      berlin
3    new york
4      sydney
Name: city, dtype: object

In [10]:
df['city'] = df['city'].str.capitalize()
df['city'].head()

0      London
1       Paris
2      Berlin
3    New york
4      Sydney
Name: city, dtype: object