In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'A': ['a1', 'a2', 'a3'], 

                   'B': ['b1', 'b2', 'b3'], 

                   'C': ['c1', 'c2', 'c3']}) 
df

    A   B   C
0  a1  b1  c1
1  a2  b2  c2
2  a3  b3  c3

In [3]:
df.stack()

0  A    a1
   B    b1
   C    c1
1  A    a2
   B    b2
   C    c2
2  A    a3
   B    b3
   C    c3
dtype: object

In [4]:
df.stack().unstack()

    A   B   C
0  a1  b1  c1
1  a2  b2  c2
2  a3  b3  c3

In [5]:
multi_col_1 = pd.MultiIndex.from_tuples(
    [('Wind', 'mph'), ('Wind', 'm/s')]
)
multi_col_1

MultiIndex([('Wind', 'mph'),
            ('Wind', 'm/s')],
           )

In [6]:
df_multi_level_1 = pd.DataFrame(
    [[13, 5.5], [19, 8.5]],
    index=['London', 'Oxford'],
    columns=multi_col_1
)
df_multi_level_1

       Wind
        mph  m/s
London   13  5.5
Oxford   19  8.5

In [7]:
df_multi_level_1.stack()

            Wind
London m/s   5.5
       mph  13.0
Oxford m/s   8.5
       mph  19.0

In [8]:
df_multi_level_1.stack(level=-1)

            Wind
London m/s   5.5
       mph  13.0
Oxford m/s   8.5
       mph  19.0

In [9]:
df_multi_level_1.stack(-1)

            Wind
London m/s   5.5
       mph  13.0
Oxford m/s   8.5
       mph  19.0

In [10]:
multi_col_2 = pd.MultiIndex.from_tuples(
    [('Wind', 'mph'), ('Temperature', '°C')]
)
multi_col_2

MultiIndex([(       'Wind', 'mph'),
            ('Temperature',  '°C')],
           )

In [11]:
df_multi_level_2 = pd.DataFrame(
    [[13, 8], [19, 6]],
    index=['London', 'Oxford'],
    columns=multi_col_2
)
df_multi_level_2

       Wind Temperature
        mph          °C
London   13           8
Oxford   19           6

In [12]:
df_multi_level_2.stack()

            Temperature  Wind
London mph          NaN  13.0
       °C           8.0   NaN
Oxford mph          NaN  19.0
       °C           6.0   NaN

In [13]:
multi_col_2 = pd.MultiIndex.from_tuples(
    [('Wind', 'mph'), ('Temperature', '°C')]
)
multi_col_2

MultiIndex([(       'Wind', 'mph'),
            ('Temperature',  '°C')],
           )

In [14]:
multi_col_2.get_level_values(0)

Index(['Wind', 'Temperature'], dtype='object')

In [15]:
multi_col_2.get_level_values(1)

Index(['mph', '°C'], dtype='object')

In [16]:
df_multi_level_2.stack(0)

                     mph   °C
London Temperature   NaN  8.0
       Wind         13.0  NaN
Oxford Temperature   NaN  6.0
       Wind         19.0  NaN

In [17]:
df_multi_level_2.stack([0, 1])

London  Temperature  °C      8.0
        Wind         mph    13.0
Oxford  Temperature  °C      6.0
        Wind         mph    19.0
dtype: float64

In [18]:
df_multi_level_2.stack([1, 0])

London  mph  Wind           13.0
        °C   Temperature     8.0
Oxford  mph  Wind           19.0
        °C   Temperature     6.0
dtype: float64

In [19]:
df_multi_level_3 = pd.DataFrame(
    [[None, 10], [11, 7.0]],
    index=['London', 'Oxford'],
    columns=multi_col_2
)
df_multi_level_3

        Wind Temperature
         mph          °C
London   NaN        10.0
Oxford  11.0         7.0

In [20]:
df_multi_level_3.stack()

            Temperature  Wind
London °C          10.0   NaN
Oxford mph          NaN  11.0
       °C           7.0   NaN

In [21]:
df_multi_level_3.stack(dropna=False)

            Temperature  Wind
London mph          NaN   NaN
       °C          10.0   NaN
Oxford mph          NaN  11.0
       °C           7.0   NaN

In [22]:
index = pd.MultiIndex.from_tuples([
  ('Oxford', 'Temperature'), 
  ('Oxford', 'Wind'),
  ('London', 'Temperature'), 
  ('London', 'Wind')
])
index

MultiIndex([('Oxford', 'Temperature'),
            ('Oxford',        'Wind'),
            ('London', 'Temperature'),
            ('London',        'Wind')],
           )

In [23]:
s = pd.Series([1,2,3,4], index=index)
s

Oxford  Temperature    1
        Wind           2
London  Temperature    3
        Wind           4
dtype: int64

In [24]:
s.unstack()

        Temperature  Wind
London            3     4
Oxford            1     2

In [25]:
s.unstack(level=-1)

        Temperature  Wind
London            3     4
Oxford            1     2

In [26]:
s.unstack(level=0)

             London  Oxford
Temperature       3       1
Wind              4       2

In [27]:
index = pd.MultiIndex.from_tuples([
  ('Oxford', 'Weather', '01-01-2022'), 
  ('Oxford', 'Temperature', '01-01-2022'), 
  ('Oxford', 'Weather', '02-01-2022'),
  ('Oxford', 'Temperature', '02-01-2022'),
  ('London', 'Weather', '01-01-2022'), 
  ('London', 'Temperature', '01-01-2022'),
  ('London', 'Weather', '02-01-2022'),
  ('London', 'Temperature', '02-01-2022'),
])
index

MultiIndex([('Oxford',     'Weather', '01-01-2022'),
            ('Oxford', 'Temperature', '01-01-2022'),
            ('Oxford',     'Weather', '02-01-2022'),
            ('Oxford', 'Temperature', '02-01-2022'),
            ('London',     'Weather', '01-01-2022'),
            ('London', 'Temperature', '01-01-2022'),
            ('London',     'Weather', '02-01-2022'),
            ('London', 'Temperature', '02-01-2022')],
           )

In [28]:
s = pd.Series(
  ['Sunny', 10, 'Shower', 7, 'Shower', 5, 'Sunny', 8], 
  index=index
)
s

Oxford  Weather      01-01-2022     Sunny
        Temperature  01-01-2022        10
        Weather      02-01-2022    Shower
        Temperature  02-01-2022         7
London  Weather      01-01-2022    Shower
        Temperature  01-01-2022         5
        Weather      02-01-2022     Sunny
        Temperature  02-01-2022         8
dtype: object

In [29]:
s.unstack().unstack()

        01-01-2022          02-01-2022
       Temperature Weather Temperature Weather
London           5  Shower           8   Sunny
Oxford          10   Sunny           7  Shower

In [30]:
s.unstack().unstack().unstack()

01-01-2022  Temperature  London         5
                         Oxford        10
            Weather      London    Shower
                         Oxford     Sunny
02-01-2022  Temperature  London         8
                         Oxford         7
            Weather      London     Sunny
                         Oxford    Shower
dtype: object

In [31]:
s.unstack([2,1])

       01-01-2022             02-01-2022
          Weather Temperature    Weather Temperature
London     Shower           5      Sunny           8
Oxford      Sunny          10     Shower           7