In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [2]:
web = 'https://en.wikipedia.org/wiki/2014_FIFA_World_Cup'
response = requests.get(web)
content = response.text
soup = BeautifulSoup(content, 'lxml')

In [3]:
matches = soup.find_all('div', class_='footballbox')

In [4]:
home = []
score = []
away = []

for match in matches:
    home.append(match.find('th', class_='fhome').get_text())
    score.append(match.find('th', class_='fscore').get_text())
    away.append(match.find('th', class_='faway').get_text())

In [5]:
dict_football = {'home': home, 'score': score, 'away': away}
brazil_wc_2014 = pd.DataFrame(dict_football)
brazil_wc_2014['year'] = 2014

In [6]:
brazil_wc_2014.head(3)

      home score       away  year
0  Brazil    3–1    Croatia  2014
1  Mexico    1–0   Cameroon  2014
2  Brazil    0–0     Mexico  2014

In [7]:
brazil_wc_2014.tail(3)

            home         score          away  year
61  Netherlands   0–0 (a.e.t.)     Argentina  2014
62       Brazil            0–3   Netherlands  2014
63      Germany   1–0 (a.e.t.)     Argentina  2014

In [8]:
def get_matches(year):
    web = f'https://en.wikipedia.org/wiki/{year}_FIFA_World_Cup'
    response = requests.get(web)
    content = response.text
    soup = BeautifulSoup(content, 'lxml')
    matches = soup.find_all('div', class_='footballbox')

    home = []
    score = []
    away = []

    for match in matches:
        home.append(match.find('th', class_='fhome').get_text())
        score.append(match.find('th', class_='fscore').get_text())
        away.append(match.find('th', class_='faway').get_text())

    dict_football = {'home': home, 'score': score, 'away': away}
    df_football = pd.DataFrame(dict_football)
    df_football['year'] = year
    return df_football

In [9]:
years = [1930, 1934, 1938, 1950, 1954, 1958, 1962, 1966, 1970, 1974,
         1978, 1982, 1986, 1990, 1994, 1998, 2002, 2006, 2010, 2014,
         2018]

# results: historical data
wc = [get_matches(year) for year in years]
wc = pd.concat(wc, ignore_index=True)

In [10]:
wc.head(3)

         home score     away  year
0     France    4–1   Mexico  1930
1  Argentina    1–0   France  1930
2      Chile    3–0   Mexico  1930

In [11]:
wc.tail(3)

         home         score      away  year
550  Croatia   2–1 (a.e.t.)   England  2018
551  Belgium            2–0   England  2018
552   France            4–2   Croatia  2018

In [12]:
qatar_wc_2022 = get_matches(2022)

In [13]:
qatar_wc_2022.head(3)

       home     score          away  year
0    Qatar        0–2       Ecuador  2022
1  Senegal        0–2   Netherlands  2022
2    Qatar   Match 18       Senegal  2022

In [14]:
qatar_wc_2022.tail(3)

                home     score              away  year
61  Winners Match 59  Match 62  Winners Match 60  2022
62   Losers Match 61  Match 63   Losers Match 62  2022
63  Winners Match 61  Match 64  Winners Match 62  2022