In [1]:
import pandas as pd 
import numpy as np

In [2]:
group_col_list = ['A', 'B', 'C', 'D']

data = {'group_col': np.random.choice(group_col_list, 10, p=[0.4, 0.2, 0.25, 0.15]),
        'value_col': np.random.randint(-10, 10, 10)}

df = pd.DataFrame(data)
df

  group_col  value_col
0         B         -3
1         C          5
2         B         -5
3         C          2
4         C         -6
5         D        -10
6         C         -2
7         A        -10
8         A          4
9         A          9

In [3]:
for name, group in df.groupby('group_col'):
    group_values = group['value_col'].tolist()
    print(f"{name}: {group_values}")

A: [-10, 4, 9]
B: [-3, -5]
C: [5, 2, -6, -2]
D: [-10]

In [4]:
df.groupby('group_col').agg({'value_col': [np.mean, np.sum]})

          value_col
               mean sum
group_col
A              1.00   3
B             -4.00  -8
C             -0.25  -1
D            -10.00 -10

In [5]:
df.groupby('group_col').size()

group_col
A    3
B    2
C    4
D    1
dtype: int64